*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(176, 177, 192);
    color: black;

font-family: sans-serif;
}
#main
{
    height: 550px;
    width: 650px;
    background-color: white;
    margin: 100px auto;

}
#box
{
    
    height: 200px;
    width: 200px;
    background-color:teal;
    position: absolute;
    
    
}
#main h1
{
    position: absolute;
z-index: 1;
}{
    
}